*.iso

###############################################################################
# Answer files générés (contiennent un hash de mot de passe root)
###############################################################################
files/answer-files/*.toml
files/answer-files/*.TOML
!files/answer-files/.gitkeep

###############################################################################
# Ansible
###############################################################################

# Vault password file
.vault_pass
.vault-password
vault.pass
vault.yml

# Vault variables (si tu ne souhaites pas les versionner)
**/group_vars/*/vault.yml
**/host_vars/*/vault.yml

# Variables sensibles éventuelles
secrets.yml
secret.yml
*.secret.yml

# Fichiers de retry
*.retry

# Logs
ansible.log

###############################################################################
# Terraform
###############################################################################

# State
*.tfstate
*.tfstate.*
terraform.tfstate*
crash.log

# Terraform directories
.terraform/
**/.terraform/

# .terraform.lock.hcl

# Variables sensibles
*.tfvars
*.tfvars.json

# Backend
backend.tfvars
backend.hcl
backend.auto.tfvars
backend.auto.tfvars.json

# Override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

###############################################################################
# Providers locaux
###############################################################################

terraform-provider-*
tofu-provider-*

###############################################################################
# SSH
###############################################################################

id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
*.pem
*.key
*.pfx
*.p12

###############################################################################
# Certificats
###############################################################################

*.crt
*.cer
*.csr

###############################################################################
# Python
###############################################################################

__pycache__/
*.py[cod]
.venv/
venv/

###############################################################################
# IDE
###############################################################################

.vscode/
.idea/

###############################################################################
# OS
###############################################################################

.DS_Store
Thumbs.db

###############################################################################
# Archives
###############################################################################

*.zip
*.tar
*.tar.gz
*.tgz

###############################################################################
# Temp
###############################################################################

*.tmp
*.bak
*.swp