[Unit]
Description=Traefik
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart={{ pa_traefik_bin }} --configFile={{ pa_traefik_config_dir }}/traefik.yml
Restart=on-failure
NoNewPrivileges=true
ProtectSystem=strict
ReadWritePaths={{ pa_traefik_cert_dir }}
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target